<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68356411142-9j9vamuvpk0k0b8raidctm8b1a8645m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68356411142-9j9vamuvpk0k0b8raidctm8b1a8645m4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>68356411142-fldl5cheoaaom93cgq1bbnghh2n0b9l5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5g3I_dljHfQDLu2jZGSJKv9uce5NV9Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>68356411142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.fadlimuharram.flashChat</string>
	<key>PROJECT_ID</key>
	<string>react-chat-223107</string>
	<key>STORAGE_BUCKET</key>
	<string>react-chat-223107.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68356411142:ios:39e1d99fc666872a</string>
	<key>DATABASE_URL</key>
	<string>https://react-chat-223107.firebaseio.com</string>
</dict>
</plist>